header.mean {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("../img/css_mac.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  min-height: 400px;
}
.header-body {
    height: 275px;
}
.header-body.flex {
    align-items: center;
    justify-content: center;
}
.header-body .presentation {
  width: 280px;
  height: 140px;
  border: 1px solid #fff;
  position: relative;
  text-align: center;
}
.presentation h1 {
  font-size: 25px;
  font-weight: 400;
  margin: 10px 0px 0px 0px;
}
.presentation span {
  font-size: 12px;
}
.presentation p {
    display: inline-block;
    width: 240px;
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
  line-height: 20px;
}


/*Estilos de sección*/

/* ABOUT ME*/
#about-me {
    text-align: center;
}
#about-me .flex {
    flex-wrap: wrap;
}
#about-me .greet {

    color: #333333;
    width: 90%;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: -35px;
}
.greet .content {
    width: 90%;
    display: inline-block;
    max-width: 380px;
}
.greet .photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;

    display: inline-block;
}
.greet .photo img {
    width: 100%;
    height: auto;
}

.greet h1 {
    font-size: 20px;
    margin-top: 15px;
}
.greet p {
    font-size: 15px;
    line-height: 22px;
    margin-top: 15px;
}


/* KNOWLADGE */

.knowladge {
    background-color: #FAFAFA;
    color: #333;
    height: 300px;
    display: inline-block;
    padding: 0px 50px;
    position: relative;


}

.knowladge:before {
    content: "";
    position:absolute;
    height: 100%;
    width: 30%;
    top: 0px;
    left: 0px;
    background:

        url(../img/html5.png) top no-repeat,
        url(../img/css.png) center no-repeat,
        url(../img/js.png) bottom no-repeat;
    background-size: 70px 70px ;
    opacity: .4;

}
.knowladge:after {
    content: "";
    position:absolute;
    height: 100%;
    width: 30%;
    top: 0px;
    right: 0px;
    background:

        url(../img/nodejs.png) top no-repeat,
        url(../img/angular.svg) center no-repeat,
        url(../img/ruby.png) bottom no-repeat;
    background-size: 70px 70px ;
    opacity: .4;
}
.knowladge .text {
    position: relative;
    z-index: 5;
}
.knowladge h2 {
    font-size: 20px;
    margin-top: 20px;
}
.knowladge p {
    font-size: 15px;
    line-height: 22px;
    margin: 15px 0 20px;
}

/* MY QUEST */

.my-quest {
    background-color: #4A4A4A;
    height: 280px;
    color: #fff;
    display: inline-block;
    padding: 0 20px;

}
.my-quest h2 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}
.my-quest p {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin: 15px 0 20px;
    font-weight: 300;
}
.my-quest a {
    color: #179D9C;
    font-size: 15px;
    font-weight: 300;
}
.my-quest a span {
    vertical-align: middle;
}
.my-quest a .fa-angle-right {
    margin-left: 2px;
    font-size: 20px;
    vertical-align: middle;
}

/* PROYECTOS */

#projects {

    text-align: center;
}
#projects header {
    padding: 20px 10px;
    background-color: #973689;
    color: #fff;

}
#projects header h1 {
    width: 80%;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 25px;
}
#projects header .projects-info {
    background: url("../img/ull_logo.png"), linear-gradient(-90deg, transparent, rgba(255,255,255,.2) ,transparent );
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: 300;
    line-height: 22px;
    padding: 20px 0px;
    font-size: 15px;
}

.subject {
    width: 100%;
    text-align: center;
}
.subject header {
    font-size: 15px;
    padding: 15px;
    background: #973689;
    color: #fff;
}
.subject .projects-subject {
    color: 333;

}
.subject .projects-subject a {
    color: #333;
    display: block;
    background-color: #FAFAFA;
}
.projects-subject a:hover {
    color: #333;
    background-color: #DADADA;
}
.projects-subject a .project-subject {
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid #DEDEDE;
}

.project-subject.flex {
    justify-content: space-between;

}
.project-subject .number-project, .project-subject .status-project {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.project-subject .number-project{
    border-right: 1px solid #DEDEDE;
    font-size: 15px;
    font-weight: 300;

}
.project-subject .info-project{

    position: relative;
    flex-grow: 1;
}
.project-subject .info-project .name-project {
    width: 100%;
    height: 100%;
    padding: 10px 20px 20px;

    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-subject .info-project .date-project{
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 2px;
}
.project-subject .status-project{
    border-left: 1px solid #DEDEDE;

}


/*
#projects .personal-projects {
    padding: 0px 10px 20px;
}
.personal-projects .project {
    width: 300px;

    background-color: #FAFAFA;
    margin-bottom: 20px;
    display: inline-block;
}
.project .image {
    height: 180px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.personal-projects .project:last-of-type {
    margin-bottom: 0px;
}
.project .information {
    padding: 20px 30px;
    font-size: 15px;
}
.project .information p {
    line-height: 20px;
    margin: 10px 0px;
    max-height: 100px;
    overflow: hidden;
    text-align: center;
}
.project .information a {
    color: #9D1717 !important;
    font-size: 12px;
    font-weight: 600;
}
*/
/* CONTACTO */

#contact {
    background-color: #E8E8E8;
    padding: 20px;
    text-align: center;
    color: #333333;
}
#contact header h1 {
    font-size: 20px;
}

#contact .personal-data {
    margin: 10px 0px 20px;
    font-size: 15px;
    font-weight: 400;
}
#contact .personal-data p {
    line-height: 22px;
}
#contact form {
    margin-top: 20px;
    width: 95%;
    display: inline-block;
    max-width: 500px;
}
#contact form input {
    height: 30px;
    width: 250px;
}
#contact form input[type= "text"], #contact form textarea {

    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgba(151, 151, 151 , .6);
    width: 100%;
}
#contact form textarea {
    height: 200px;
    resize: none;
}
#contact form input[type="submit"] {
    margin-top: 10px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border: none;
    color: #fff;
    background-color: #179D9C;
    cursor: pointer;
}
#contact form input[type="submit"]:active {
    background-color: #0B5857;
}
#contact .social-media {
    margin-top: 15px;
}
#contact .personal-data {
    font-size: 12px;
    color: #333;
    margin-top: 20px;
}
#contact .personal-data a {
    font-size: 14px;
    font-weight: 600;
    color: #179D9C;
}

#contact #linkedin-logo {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-color: #007BB5;
    font-size: 30px;

}
#linkedin-logo  {
    color: #fff;

}
#linkedin-logo a i {
    vertical-align: middle;
}

@media screen and (min-width: 650px){
    #about-me  .greet {
        margin-bottom: 50px;
    }
    #about-me .knowladge, #about-me .my-quest {
        display: flex;
        align-items: center;
        width: 100%;
        height: 250px;
    }
    #about-me .knowladge h2 {
        display: none;

    }

    #about-me .my-quest {
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;


    }
    #about-me .my-quest h2 {
        display: none;
    }

}
