*,h1 {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
}
a {
    text-decoration: none;
}
.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
}
.justify-container {
    width: 100%;
    max-width: 1000px;
}
.flex {
  display: flex;
}

.github-link {
  text-align: right;
}
.github-link .fa-github {
  font-size: 20px;
  vertical-align: middle;
}
.github-link span {
  vertical-align: middle;
}
.logo {
  text-align: center;
}
.logo .d {
  position: relative;
  display: inline-block;
  width: 50px;
}
.logo .d:before {
  content: "D";
  font-size: 50px;

  display: inline-block;
  line-height: 25px;
}
.logo .d:after {
  content: "D";
  font-size: 40px;
  position: absolute;
  left: 35%;
}
.mobile-nav-toggle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mobile-nav-toggle span,
.mobile-nav-toggle span:before,
.mobile-nav-toggle span:after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: #fff;
  position:relative;
  border-radius: 5px;
}
.mobile-nav-toggle span:before {
  bottom: 10px;
}
.mobile-nav-toggle span:after {

  top: 7px;
}

nav.fixed {
  height: 50px;
  font-size: 15px;
  font-weight: 400; /* 400 regular */
}
nav.fixed {
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,.5);
  z-index: 10;
}
nav.fixed a {
  color: #fff;
}
.flex.full-basis > * {
  flex-basis: 100%;
}
nav.fixed .flex {
    align-items: center;
}

.header-body {
  width: 100%;

  background: rgba(255,255,255,.3);
  position:relative;
  top:50%;
  transform: translate(0,-50%);
}
