header.courses-header{
    background: #973689;
    height: 480px;
}
.header-body {
    background: url("../img/ull_logo.png"), linear-gradient(-90deg, transparent, rgba(255,255,255,.2) ,transparent );
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 30px 20px 10px;
    position: relative;
    height: 200px;

}
.header-body h1 {
 font-size: 15px;

}
.header-body p {

    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
    line-height: 20px;

}

/* Asignaturas */

.subject {
    width: 100%;
    text-align: center;
}
.subject header {
    font-size: 15px;
    padding: 15px;
    background: #973689;
    color: #fff;
}
.subject .projects-subject {


}
.subject .projects-subject a {
    color: #333;
    display: block;
    background-color: #FAFAFA;
}
.projects-subject a:hover {
    color: #333;
    background-color: #DADADA;
}
.projects-subject a .project-subject {
    max-width: 1000px;
    margin: 0 auto;

}

.project-subject.flex {
    justify-content: space-between;

}
.project-subject .number-project, .project-subject .status-project {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.project-subject .number-project{
    border-right: 1px solid #DEDEDE;
    font-size: 15px;
    font-weight: 300;

}
.project-subject .info-project{

    position: relative;
    flex-grow: 1;
}
.project-subject .info-project .name-project {
    width: 100%;
    height: 100%;
    padding: 10px 20px 20px;

    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-subject .info-project .date-project{
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    display: block;
    width: 100%;
    bottom: 2px;
}
.project-subject .status-project{
    border-left: 1px solid #DEDEDE;

}



section.in-process {
    background-color: #FFF;
    color: #AAA;
    text-align: center;
    padding: 20px;
    position: relative;
}

section.in-process .fa-cogs {
    font-size: 100px;
    color: #DADADA;
}
section.in-process span {


    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #AAA;
}
